.dark-mode {
	background-color: darken($darkGray, 10);

	p {
		color: $white;
	}

	a, h1, h2, h3, h4 {
		color: $gray;
	}

	.ad {
		background-color: $darkGray;
		border: 1px solid $darkGray;

		.price {
			color: $green;
		}
	}

	.ad-icon {
		filter: invert(100)
	}

	.us-text {
		color: $white;
	}

	.form {
		label, legend, p {
			color: $gray;
		}

		input:not([type="submit"]), 
		textarea,
		select {
		background-color: $darkGray;
		border: 1px solid $darkGray;
		color: $white;

	}
	}
}