@include tablet {
	.ads-container {
		@include grid(3, 2rem);
	}
}

.ad {
	background-color: lighten($gray, 5);
	border: 1px solid darken($gray, 10);
	margin-bottom: 2rem;

	.ad-content {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	h3, p {
		margin: 0;
	}

	.description {
		height: 11rem;
		overflow: hidden;
		display: -webkit-box;
		line-clamp: 3;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	}

}

.price {
	color: $green;
	font-weight: $bold;
	font-size: 3rem;
}

.icons-specs {
	display: flex;
	list-style: none;
	padding: 0;
	max-width: 40rem;

	li {
		flex: 1;
		display: flex;

		img {
			flex: 0 0 3rem;
			margin-right: 1rem;
		}

		p {
			font-weight: $black;
		}
	}
}