.footer {
	padding: calc($separation / 2) 0;
	background-color: $darkGray;
	margin-bottom: 0;

	.footer-container {
		padding: calc($separation / 2);
	}

	.navigation {
		visibility: visible;
		opacity: 1;
		height: auto;
	}

	.copyright {
		color: $white;
		text-align: center;
	}

	.github {
		color: $white;
		text-align: center;

		a {
			text-decoration: underline;
		}
	}
}