.footer {
	padding: $separation / 2 0;
	background-color: $darkGray;
	margin-bottom: 0;

	.footer-container {
		padding: $separation / 2;
	}

	.navigation {
		visibility: visible;
		opacity: 1;
		height: auto;
	}

	.copyright {
		color: $white;
		text-align: center;
	}
}